*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f4f7fc;
}

.wrapper{
    display:flex;
    min-height:100vh;
}

/* Sidebar */

.sidebar{
    width:260px;
    background:#1f2937;
    color:#fff;
    padding:20px;
}

.logo{
    text-align:center;
    margin-bottom:30px;
}

.logo i{
    font-size:40px;
    color:#4CAF50;
}

.logo h2{
    margin-top:10px;
    font-size:24px;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    margin:12px 0;
}

.sidebar ul li a{
    display:block;
    color:#fff;
    text-decoration:none;
    padding:12px;
    border-radius:8px;
    transition:.3s;
}

.sidebar ul li a:hover,
.sidebar ul li.active a{
    background:#4CAF50;
}

/* Main */

.main-content{
    flex:1;
    padding:30px;
}

.topbar{
    background:#fff;
    padding:20px;
    border-radius:10px;
    margin-bottom:30px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.card-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.dashboard-card{
    background:#fff;
    border-radius:12px;
    padding:25px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.dashboard-card:hover{
    transform:translateY(-5px);
}

.dashboard-card i{
    font-size:35px;
    color:#4CAF50;
    margin-bottom:15px;
}

.dashboard-card h5{
    color:#666;
    margin-bottom:10px;
}

.dashboard-card h2{
    color:#111;
    font-size:32px;
}

.row{
    margin-top:30px;
}

canvas{
    width:100%!important;
    height:350px!important;
}
.table-container{
    margin-top:40px;
    background:#fff;
    padding:20px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.table-container h3{
    margin-bottom:20px;
    color:#0d6efd;
}